<h1><%= link_to @song.title, song_path(@song) %>
  <%if params[:artist_id]%>
  <%= link_to @artist.name, artist_path(@artist) %></h1>
  <%end%> 
<h3> by <%= display_artist(@song) %></h3>

<%= link_to "All Songs", songs_path %>
